@use "../../Style/Sass/Index" as *;

.home-wrapper-1 {
    .main-banner-content {
        top: 15%;
        left: 5%;

        h4 {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin: 0 0 12px;
            letter-spacing: $letterSpacing;
            color: $fifth;
        }

        h5 {
            font-size: 42px;
            line-height: 54px;
            letter-spacing: -2px;
            font-weight: 500;
        }

        p {
            color: $primary;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0.4px;
        }
    }
    .small-banner {
        width: 49%;
        .small-banner-content {
            top: 25%;
            left: 10%;

            h4 {
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                margin: 0 0 12px;
                letter-spacing: $letterSpacing;
                color: $fifth;
            }

            h5 {
                font-size: 22px;
                line-height: 34px;
                letter-spacing: -2px;
                font-weight: 500;
            }

            p {
                color: $primary;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.4px;
            }
        }
    }
}
.home-wrapper-2 {
    background-color: $sixth;
}
.home-wrapper-3 {
    .catagories {
        // background-color: white;
        // box-shadow: 0px 0px 10px #0000001a;
        // padding: 15px;
        .gap {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                border-bottom: 1px solid $seventh;
            }

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7) {
                border-right: 1px solid $seventh;
            }
        }
        div {
            width: 25%;
            padding: 10px 10px 10px 20px;

            div {
                width: 60%;
            }
        }
    }
}

.home-wrapper-5 {
    .blogCard {
        background-color: white;
        border-radius: 10px;

        .cardImage img {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }

        .blogContent {
            padding: 15px;

            .date {
                font-size: 13px;
                line-height: 24px;
                text-transform: uppercase;
                letter-spacing: 0;
                font-weight: 400;
                color: $eighth;
                padding: 0px;
            }

            h5 {
                font-size: 18px;
                color: $primary;
            }

            .desc {
                font-size: 13px;
                line-height: 22px;
                color: $eighth;
            }
        }
    }
}
.popularWrapper {
    .one {
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        padding: 20px;
        .parent {
            // height: 100%;
            // overflow: hidden;
            font-weight: bold;
            img {
                width: 50px;
                height: 50px;
            }
            span {
            }
        }
    }
    .two {
        background-color: $primary;
        border-radius: 10px;
        overflow: hidden;
        padding: 20px;
        .parent {
            margin-top: 40px;
            position: relative;
            h3 {
                color: #f5f5f7;
                font-size: 20px;
            }
            h5 {
                color: white !important;
                font-size: 13px;
            }
            p {
                color: #f5f5f7;
                font-size: 14px;
            }
            img {
                background: transparent;
            }
        }
    }
}
